langchain==0.0.350
streamlit==1.29.0
transformers==4.36.1
requests==2.31.0
torch==2.1.2
einops==0.7.0
accelerate==0.25.0
bitsandbytes==0.41.3.post2
pdfminer.six==20221105
bs4==0.0.1
sentence-transformers==2.2.2
chromadb==0.4.20
torchvision==0.16.2
torchaudio==2.1.2
sentencepiece==0.1.99
uvicorn==0.24.0.post1
streamlit-chat==0.1.1